*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
}
body{
  height: 100vh;
  background: linear-gradient(to bottom, #009688 20%, #dbdbd3 20%);
}
.message-list{
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.minitext{
  font-size: smaller;
}

.chatMessaggio {
  border-radius: 8px;
  padding: 0 20px; 
  line-height: 55px;
  margin-top:  20px;;
  min-width: 80px;
}
.chat {
  height: calc(100% - 140px);
  padding: 8px 0;
  overflow-y: scroll;
  background-image: url("img/mine.jpg");
  position: relative;
}
.sentMessaggio {
  background-color: #c9fca2;
  margin-left: 10px;
  padding-bottom: 18px;
  padding-top: 5px;
  margin-top: 20px;
  
}
.flex-end{
  align-self: flex-end;
}
.receivedMessaggio {
  background-color: #fff;
  margin-left: 10px;
  padding-bottom: 18px;
  padding-top: 5px;
  margin-top: 20px;
}

.contacts {
  background-color: white;
  width: 40%;
}

.notifiche{
  background-color: deepskyblue;
}

ul {
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.contacts li {
  cursor: pointer;
}
.searchBar {
  background-color: #f7f0f0;
}

.chatSection {
  background-color: gray;
  width: 60%;

}
#app {
  height: 100vh;
}
.borderino{
  border: 1px  solid rgb(221, 209, 209);
  cursor: pointer;
}
section {
  height: 90%;
  margin: auto 0;
}
.overflowy{
  overflow-y: scroll;
}
.chat {
  height: calc(100% - 140px);
  padding: 8px 0;
  overflow-y: auto;
}

.avatar{
  margin: 10px;
}
.columns{
  flex-direction: column;
}
nav {
  height: 70px;
  background-color: #eee7e7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.contactCard {
  height: 70px;
  border-top: 1px solid #e0e4e4;
}
.contactCard.selected {
  background-color: #fbffff;
}
img {
  height: 55px;
  border-radius: 50%;
}
#profilePic {
  height: 55px;
  width: 55px;
  object-fit: cover;
  margin-right: 8px;
}
.scrolling {
  overflow-y: auto;
  height: calc(100% - 116px);
}

i {
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0 3px;
  padding: 3px;
  color: #cec3c3;
  
}
footer i {
  color: #888f91;
}
i:hover {
  color: rgba(31, 29, 29, 0.4);
}

.gap-5{
  display: flex;
}
.btn-close{
font-size: smaller;

}