*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(to bottom, #009688 80%, #dbdbd3 20%);
}

.background{
  width: 1080px;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(48, 179, 161);
}
.container{
  width: 1080px;
  margin: 0 auto;
  background-color: rgb(214, 215, 224);
  text-align: center;
  color: rgb(0, 0, 0);
}

#slider{
  height: 400px;
  width: 800px;
}

.slide{
  height: 100%;
  width: 100%;
  object-fit:cover;
  display: none;
}

.slide img{
  height: 100%;
  width: 100%;
  object-fit:cover;

}

.slide.active {
    display: block;
  }


.flex{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0);
}
button{
  border-radius: 20px;
  border: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition-duration: 1s;
}

button:hover{
  cursor: pointer;
  background-color: black;
}

.active{
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.fa-angle-down{
  font-size: 100px;
}

.fa-angle-up{
  font-size: 100px;
}